.p{
    color: red;
    font-size: 20px;
}
@mixin  circle($width,$height) {
    width:  $width;
    height: $height;
    border-radius: 100%;
    background-color: red;
}
.circle{
    @extend .p ;
    border: 2px solid black;

}