@font-face {
    font-family: myFont;
    src: url('../font/MYRIADPRO-REGULAR.OTF');
}

$color: #745a82;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
}

body,
html {
    color: $color;
}

hr {
    padding: 1px;
    background-color: #9986a3;
}

.margin-t {
    padding-top: 180px;
}

.letter-sp-3 {
    letter-spacing: 6px;
}
.letter-sp-2{
    letter-spacing: 3px;
}
.letter-sp-1 {
    letter-spacing: 2px;
}

.block__title {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn-color {
    background-color: $color;
    border: none;
    min-width: 220px;

    &:hover {
        background-color: $color;
        opacity: 0.7;
    }
}

header {
    height: 80px;
    line-height: 80px;

    .menu-hover {
        color: $color;

        &:hover {
            opacity: 0.9;
        }
    }
}

main {
    background: url(../img/bg_slide.jpg) no-repeat;

    .block1 {
        background: url(../img/bg_slide1.jpg) no-repeat;
    }

    .block2 {
        .block2-content {
            left: 100px;
            top: 30px
        }

        .block2-content-absolute {
            margin-left: 80px;
            margin-top: 40px;
        }
    }

    .block3 {
        background: url(../img/bg_mainleft.jpg) no-repeat;

        .block3__content {
            margin-top: 70px;
        }
    }

    .block4 {
        background: url(../img/bg_mainright.jpg) no-repeat;
        background-position: top right;

        .block4_margin {
            padding-top: 180px;
            padding-bottom: 30px;
        }

        .block4__content {
            margin-top: 70px;
        }
    }

    .block7 {
        margin-top: 80px;

        .block7__margin {
            margin-top: 300px;
        }
    }
}

footer {
    background: url(../img/bg_footer.png) no-repeat;
    background-size: 100%;
    margin-top: -200px;
    .title {
        padding-top: 120px;
        text-transform: uppercase;
        line-height: 40px
    }

    .text {
        line-height: 30px;
    }

    .list {
        list-style-type: none;
        line-height: 36px;
        padding: 35px 0;
    }
}